// Basic reset
html, body, div, main, header, nav, footer, section, article, p, pre, h1, h2 {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    display: block;
}

html {
    color: white;
    background-color: #222;
    line-height: 1.5;
    font-size: 1.1rem;
}
html.light {
    color: #111;
    background-color: #eee;
}

body {
    min-height: 100vh;

    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;

    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
}

a {
    color: #82A7DB;
    text-decoration: none;
}

code:not([class|=language]) {
    display: inline-block;
    padding: 0.05rem 0.3rem;
    border-radius: 4px;
    font-family: monospace;
    background-color: #454545;

    html.light & {
        background-color: #ddd;
    }
}
