<!DOCTYPE html>
<html>
    {% include head.html %}
    <body>

        <div class="theme-switcher theme-switcher--to-light" id="theme-switcher">
            <div class="theme-switcher--label">
                Switch to <span class="theme-switcher--js-type">light</span> theme.
            </div>
        </div>

        {% include header.html %}

        <main>
            <div class="content">
                {{ content }}
            </div>
        </main>

        {% include footer.html %}

    </body>
</html>
